.menu {
    display: flex;
    padding-right: 1.5em;
}

.menu .icon {
    margin-right: 2em;
    width: 23px;
    height: 23px;

}

.menu .icon:hover {
    cursor: pointer;
}

profileIcon {
    margin-top: -3px;
    border: 1px solid grey;
}