.profile {
    display: flex;
    align-items: center;
    font-size: 0.8em;
    margin-bottom: 0.85em;
}

.profile .textContainer {
    display: flex;
    flex-direction: column;
    margin-left: 1em;
    min-width: 180px;



}

.accountName {
    font-weight: 500;
    margin-bottom: 5px;
    color: black;


}

.accountName:hover {
    cursor: pointer;
    text-decoration: underline;
}


.caption {
    color: #8e8e8e;

}

.caption.small {
    font-size: 0.8em;
}

.profile a {
  
    width: 100%;
}